$booking-w: 270px;
.header {
  * {
    //border: 1px dotted black;
  }
  background-color: indianred;
  height: 75vh;
  &-container {
    max-width: $content-w;
    height: 100%;
    margin: auto;
  }
  &-left, &-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  &-left {
    height: 100%;
    float: left;
  }
  &-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  &-more {
    margin-top: 0;
  }
  &-right {
    height: 100%;
    float: right;
  }
  &-booking {
    width: $booking-w;
    height: $booking-w * 1.61803398875;
    display: flex;
    flex-flow: column;
    &-tabs {
      background: rgba(255,255,255,.66);
      flex: 0 1 60px;
    }
    &-body {
      background: white;
      flex: 1 1 auto;
    }
  }
}